@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
}
body{
  width: 900px;
  margin: 0 auto;
}
